.show_article_wrapper{
    margin-top: 2rem;
}

.show_article{

}

.show_article_img{

}

.show_article_body{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
  
  .show_article_body > h2{
    font-size: var(--fs-600);
    font-weight: 700;
  }
  
  .show_article_body > h4{
    font-size: var(--fs-300);
    font-weight: 500;
    position: relative;
  }
  
  .show_article_body > h4:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.25rem;
    width: 120%;
    height: 0.2rem;
    background-color: var(--clr-accent);
    transition: width 0.3s ease; /* Add a smooth transition effect */
  }
  
  .show_article_body_content{
    font-size: var(--fs-400);
  }
  .show_article_body_content > *{
    margin-bottom: 0.5rem;
  }
  .show_article_body_content p{
    font-size: var(--fs-400);
    text-align: justify;
  }

  .show_article_body_content h6{
    font-size: var(--fs-400);
    text-align: justify;
  }
  .show_article_body_content h4,
  .show_article_body_content h5{
    font-size: var(--fs-500);
    text-align: justify;
  }
  .show_article_body_content h2,
  .show_article_body_content h3{
    font-size: var(--fs-600);
    text-align: justify;
  }
  .show_article_body_content h1{
    font-size: var(--fs-700);
    text-align: justify;
  }

.show_article_share > h4{
    font-size: var(--fs-200);
    font-weight: 600;
}

.show_article_comments{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.show_article_comments > button{
  font-size: var(--fs-300);
  font-weight: 600;
  border-bottom: 1px solid var(--clr-primary);
}

.show_article_comment_section{
  background: #fff;
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;

  position: fixed;
  top: 50%;
  right: 0;
  height: 50%;
  width: 100%;
  overflow-y: scroll;
  z-index: 1;
  right: 0;
  padding-inline: 1.5rem;
  border-top: 10px solid var(--clr-accent);
}

.show_article_comment_section_wrapper{
  padding: 2rem 1.5rem;
}

.show_article_comment_section_comments,
.show_article_comment_section_form{
  display: flex;
  flex-direction: column;
}

.show_article_comment_section_comments > button,
.show_article_comment_section_form > button{
    padding: 0.7em 1em;
    font-size: var(--fs-300);
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    align-self: flex-end;
    background-color: var(--clr-primary);
}