.form_screen{
    margin-top: 2rem;
    padding: 2rem;
    width: min(40rem, 100%);
    margin-inline: auto;
    border: 1px solid rgba(79, 186, 140, 0.6);
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
}

.form_screen > h2{
    font-size: var(--fs-400);
    font-weight: 600;
}

.form_screen button[type="submit"]{
    width: 100%;
    background-color: var(--clr-text);
    padding: 0.7em 1em;
    font-size: var(--fs-300);
    border-width: 1px;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #fff;
    transition: 0.5s;
}

.form_screen  button[type="submit"]:hover{
    background-color: rgba(6, 9, 7, 0.8);
}

.form_screen_spinner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_links{
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.form_links > a{
    color: var(--clr-primary);
    font-size: var(--fs-300);
}

.form_links > a:last-child{
    text-decoration: underline;
}

.form_links > div{
    width: 0.1rem;
    height: 2rem;
    background-color: rgba(6, 9, 7, 0.6);
}