.home{
    margin-block: 2rem;
}

.home_hero_wrapper{
    background-color: hsl(154, 44%, 52%, 10%);;
    container-type: inline-size;
}

.home_hero{
    display: flex;
    flex-direction: column;
}

.home_hero_text{
    padding-block: 2rem;
    padding-inline: 1rem;
    order: 2;
    display: flex;
    align-items: center;
}

.home_hero_text p{
    font-size: var(--fs-300);
    font-weight: 600;
}

.home_hero_text h2{
    font-size: var(--fs-600);
    font-weight: 800;
}

.home_hero_text h2  span{
    color: var(--clr-primary);
}

.home_hero_text h2{
    font-size: var(--fs-600);
    font-weight: 800;
}


.home_hero_text p{
    font-size: var(--fs-400);
    color: var(--clr-grey-400);
}

.home_hero_img{
    position: relative;
    order: 1;
}

.home_hero_img > img{
    width: 100%;
    min-height: 18rem;
    object-fit: cover;
}

.home_hero_img_overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: hsl(154, 44%, 32%, 30%);
    z-index: 2;
}

@container (width >= 25rem){
    .home_hero{
        flex-direction: row;
    }
    .home_hero_img{
        order: 2;
        width: 50%;
    }
    .home_hero_text{
        width: 50%;
        order: 1;
        justify-content: center;
    }
}